header nav {
    background: url('../img/navbar-background.png');
}

nav .brand-logo {
    left: 27%;
}

.container {
    margin-top:30px;
    max-width:900px;
    min-width:900px;
}

.list hr {
    border:none;
    border-top: solid 1px #eee;
}

.list {
    border: solid 1px #013E88;
    min-height: 50px;
    min-width:900px;
    color:#000;
}

.list:hover {
    opacity: 0.505
}

.index-list {
    text-align: center;
    background: #013E88;
    color: #fff;
    min-width: 60px;
    min-height: 60px;
    line-height: 60px;
}

.status-list {
    text-align: center;
    background: #013E88;
    color: #fff;
    min-width: 60px;
    min-height: 60px;
    line-height: 60px;
}

.status-icon {
    vertical-align: middle;
}

.pagination-custom {
    text-align:center;
}

.good {
    color: #69BD02; 
}

.not-good {
    color: #E69F2E;
}

.pagination li.active {
    background-color: #013E88 !important;
}

.title {
    text-align: center;
    color: #013E88;
    border-bottom: solid 1px #013E88;
    font-weight: bold;
}

.fixed {
    position:fixed; top:60px;
    width: 922.50px;
    display:block !important;
}

.rank-blue {
    color: #00b0ff
}

.rank-gold {
    color: #ffd600
}

.rank-platinium {
    color: #b0bec5
}

.rank-diamond {
    color: #ffffff;
    text-shadow: -1px 0 #807f7f, 0 1px #807f7f, 1px 0 #807f7f, 0 -1px #807f7f;
}

.rank-diamond-select {
    color: #263238;
    text-shadow: -1px 0 #c4c2c2, 0 1px #c4c2c2, 1px 0 #c4c2c2, 0 -1px #c4c2c2;
}
