h2{
    font-size: 25px;
    margin-top: 0;
}

a.back-to-main {
    color: black;
}
a.back-to-main button{

    background: transparent !important;
    color: black !important;
    border: none;
    padding: 10px; 
}